<head>
        <style>
      body {
        padding-left: 200px; 
      }
    </style>
</head>
<h1> Groups</h1>

<table cellpadding="10">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    
    <td><%= group.name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>

<br />
<button name="help" class="buttons" type="button">Help!</button>
<br />
<div id="helptext" style="visibility: hidden" class="helps" name="helpme"> 
  <p>Create a group to get started!</p>
</div>
