<head>
          <style>
      body {
        padding-left: 200px; 
      }
    </style>
</head>
<h2>About</h2>
<br />
<p>
  Virtual Events is a a web application designed using Ruby on Rails for the purpose of finding out what events are going on around Penn's campus.
  Use the calender to see what's going on! Register your group, then add your group's events!
</p>
<br />
<p>Created by: Israel Geselowitz</p>
